.menu {
    padding: 2rem 0;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title h2 {
    margin: 0px;
}

.underline {
    height: 0.4rem;
    width: 4rem;
    background: hsl(205, 77%, 27%);
    margin: auto;
    border-radius: 5px;
}

.food-btns {
    text-align: center;
}

.all-btn {
    


    
      align-items: center;
      appearance: none;
      background-color: #FCFCFD;
      border-radius: 4px;
      border-width: 0;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
      box-sizing: border-box;
      color: #36395A;
      cursor: pointer;
      display: inline-flex;
      font-family: "JetBrains Mono",monospace;
      height: 48px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 18px;
    
    
      
/*       
      
      border: solid black 1px;
      background: transparent;
      font-family: 'Times New Roman', Times, serif;
      border-radius: 8px;
      font-size: 15px;
      padding: 5px 10px;
      cursor: pointer;
      letter-spacing: 2px; */
    }
    .all-btn:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
    }
    .all-btn:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
      }
    .all-btn:focus {
      box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    
    .all-btn:hover {
        /* background-color: #c59d5f; */
        background-color:  #E5E0FF;
    border: solid rgb(207, 176, 0) 1px;
}


.food-center {
    width: 90vw;
    margin: 10px auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2rem;
    justify-items: center;

}

.food {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}

.food-img {
    object-fit: cover;
    height: 200px;
    width: 290px;
    border: solid rgba(96, 84, 17, 0.765);
    border-radius: 15px;
}

.food-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted gray;
}

.food-info h4 {
    /* border-bottom: 0.5rem; */
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.price {
    color: goldenrod;
}

.food-text {
    margin-bottom: 0;
    /* padding-top: 1rem; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media screen and (min-width: 768px) {
    .food {
        grid-template-columns: 300px 1fr;
        gap: 0 1.25rem;
        max-width: 40rem;
    }

    .photo {
        height: 175px;
    }
}

@media screen and (min-width: 1200px) {
    .food-center {
        width: 95vw;
        grid-template-columns: 1fr 1fr;
    }

    .photo {
        height: 150px;
    }
}